body 
{
background-color: #F8F0FB;
}
.info1
{
    font-family: Tahoma;
    color: #336633;
    font-size: 20px;
    width: 65%;
    text-align: left;
    padding: 50px 30px 40px 30px;
    margin: 50px 0px 50px 0px;
    border-radius: 25px;
    background-color: #F0F8FB;
}
.i2
{
    font-family: Cambria;
    color: #333366;
    font-size: 30px;
    width: 75%;
    text-align: right;
    padding: 40px 40px 30px 50px;
    margin: 20px 30px 20px 30px;
    border-radius: 40px;
    background-color: #F0F0D3;
}
.pic01
{
    padding: 40px 40px 30px 50px;
    margin: 30px 20px 30px 20px;
    border-radius: 50px;
    height: 1000px;
    background-color: #00FF00;
    background-image:url(../Images/01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
}
.pic02
{
    padding: 30px 50px 30px 40px;
    margin: 30px 30px 30px 50px;
    border-radius: 50px;
    height: 1000px;
    background-color: #0000FF;
    background-image:url(../Images/02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
}
.title
{
color: #515151
}
.text
{
    font-size: 18px;
    line-height: 1.5;
}
.link1
{
    color:#000000;
}
.link2
{
    color:#000000;
}
.link3
{
    color:#000000;
}
a 
{

}